<div class="nav">
  {% if page.previous.url == nil and page.next.url == nil %}
  <a href="{{ site.url }}/1">First</a>
  <a href="{{ site.posts[1].url }}">Previous</a>
  {% elsif page.previous.url == nil %}
  <a class="disabled">First</a>
  <a class="disabled">Previous</a>
  {% else %}
  <a href="{{ site.url }}/1">First</a>
  <a href="{{ page.previous.url }}">Previous</a>
  {% endif %}

  {% if page.next.url == nil %}
  <a class="disabled">Next</a>
  <a class="disabled">Latest</a>
  {% else %}
  <a href="{{ page.next.url }}">Next</a>
  <a href="{{ site.url }}">Latest</a>
  {% endif %}

</div>