<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link href="/assets/styles.css" rel="stylesheet">
<!-- If this is the index page make the title only show the site name -->
{% if page.url == "/" %}
<title>{{ site.title }}</title>
{% else %}
<title>{{ page.title }} | {{ site.title }}</title>
{% endif %}

</head>
<body>
	<div class="banner">
		<div class="ground"></div>
	</div>
	<div class="background">
		<div class="main">
			<h1>Down The Sun Goes</h1>
			<div class="content">
				<h2>
				{% if page.url == "/" %}
				{{ site.posts[0].title }}
				{% else %}
				{{ page.title }}
				{% endif %}
				</h2>

				{% if page.is_post %}
				{% include navigation.html %}
				{% endif %}

				{{ content }}
				
				<div class="date">
				{% if page.url == "/" %}
				{{ site.posts.first.date | date: "%d %B %Y"  }}
				{% else %}
				{{ page.date | date: "%d %B %Y" }}
				{% endif %}
				</div>
			<a class="thelinks" href="https://twitter.com/pigcart">the twits</a>
			<a class="thelinks" href="https://www.youtube.com/channel/UCHgKaMpVRpEMJItg0fHoqFQ">the tubes</a>
			<a class="thelinks" href="https://pigc.art/">the pigsyarts</a>
			</div>
		</div>
	</div>
</body>