<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link href="/assets/styles.css" rel="stylesheet">
<!-- If this is the index page make the title only show the site name -->
{% if page.url == "/" %}
<title>{{ site.title }}</title>
{% else %}
<title>{{ page.title }} | {{ site.title }}</title>
{% endif %}

</head>
<body>
	<div class="banner">
		<div class="ground"></div>
	</div>
	<div class="background">
		<div class="main">
			<h1>Down The Sun Goes</h1>
			<div class="content">
				<!-- If this is the index page, get the latest comic's title -->
				{% if page.url == "/" %}
				<h2>{{ site.posts[0].title }}</h2>
				{% else %}
				<h2>{{ page.title }}</h2>
				{% endif %}

				<!-- If this page is a comic, include the nav buttons -->
				{% if page.is_post %}
				{% include navigation.html %}
				{% endif %}

				{{ content }}

				<h2>Other Things:</h2>
				<p><a href="/about">About Down The Sun Goes</a></p>
			</div>
		</div>
	</div>
</body>